.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);

    -fx-color: derive(-fx-base, 10%);

    -fx-control-inner-background: rgb(20, 20, 20);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    -fx-accent: rgb(0, 80, 100);

    -fx-text-box-border: rgb(75, 75, 75);

    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}